@mixin tablet {
  @media (max-width: 806px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 430px) {
    @content;
  }
}
.mobile_table {
  display: none;
  @include mobile {
    display: block;
  }
}
.content-parent {
  table {
    @include mobile {
      // display: none;
    }
  }
}
.bonuses-parent {
  .ranking {
    td {
      font-weight: 700;
    }
    @include mobile {
      display: none;
    }
  }

  th {
    text-align: left;

    &:first-child {
      position: relative;
      left: 10px;
    }

    &:nth-child(2) {
      position: relative;
      right: 10px;
    }
  }

  td {
    text-align: left;
  }

  button {
    // background: #aeaeae;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
  }
}

.bonuses-header {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid rgb(213, 213, 213);
  margin: 10px;
  margin-left: 20px;
  padding: 10px 10px 0 0px;
}

// // .referral-custom {
// //     > div {
// //         > div:first-child {
// //             margin-left: -15px;
// //         }
// //     }
// }

.bonuses-div {
  width: 95% !important;
  padding: 0 !important;
  margin: 0 !important;

  @media (max-width: 1310px) {
    width: 100% !important;
    padding: 0 20px !important;
  }

  h2 {
    // padding-left: 30px;

    @media (max-width: 1052px) {
      padding-left: 25px !important;
    }
  }
  > div {
    width: 99% !important;
    // padding-left: 20px;
    justify-content: space-between !important;

    @media (max-width: 1025px) {
      justify-content: center !important;
    }
  }

  @media (max-width: 574px) {
    > div {
      > div {
        width: 47% !important;
      }
    }
  }

  @media (max-width: 1310px) and (min-width: 575px) {
    > div {
      > div {
        width: 49% !important;
      }
    }
  }

  @media (max-width: 1310px) {
    > div {
      flex-wrap: wrap !important;

      > div {
        gap: 0 !important;
        margin: 0 !important;
      }
    }
  }
}
