@import url('https://fonts.googleapis.com/css?family=Mulish');
@import url("https://fonts.googleapis.com/css?family=DM Sans");

$primary: #0088cc;
$custom-bgcolor: #D1D1D1;
$font: "DM Sans";

@mixin mobile {
    @media (max-width:1040px) {
        @content;
    }
}

@mixin small-screen {
    @media (max-width: 635px) {
        @content;
    }
}

@mixin special-mobile {
    @media (max-width:1050px) and (min-width:1041px){
        @content;
    }
}

@mixin tablet {
    @media (max-width:1070px) and (min-width:1051px){
        @content;
    }
}

.hal-form{
    @include mobile{
        padding-right:500px;
    }
}

.create-main {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    padding: 0 6%;
    @include mobile {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 0 6%;
    }
    .create-main-content{
        width: 100%;
        img {
            margin: 1.25px 0;
            width: 10.625rem;
        }
        
        .container {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
    
        .circle {
            width: 2rem;
            height: 2rem;
            background-color: $custom-bgcolor;
            margin: 2px;
            border-radius: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 0.75rem;
            font-family: "Mulish";
        }
    
        .circle-one {
            background-color: $primary;
            position: relative;
            left: 0.125rem;
        }
    
        .circle-two {
            position: relative;
            left: -0.125rem;
        }
    
        .circle-three {
            position: relative;
            left: -0.375rem;
        }
    
        .dash {
            width: 1.875rem;
            height: 0.0625rem;
            background-color: $custom-bgcolor;
        }
    
        .dash-two {
            position: relative;
            left: -0.25rem;
        }
    
        .main-content {
            margin-top: 1.25rem;
            h2 {
                color: #191919;
                font-family: $font;
                margin-top: 0.25rem;
                font-weight: 700;
                font-size: 28px;
            }
            p {
                font-family: $font;
                color: #8B8B8B;
            }
        }
    
        form {
            width: 100%;
            margin-top: 1.25rem;
            @include small-screen {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .create-email {
                border: 0.125rem solid #0088cc;
                border-radius: 8px;
                padding: 8px 16px;
                width: 520px;
                height: 56px;
                display: flex;
                justify-content: start;
                align-items: flex-end;
                text-align: center;
                position: relative;
                @include small-screen {
                    width: 100%;
                }
    
                @include special-mobile{
                    width:100%;
                }
    
                @include tablet {
                    width: 100%;
                }
                @include mobile {
                    width: 100%;
                }
    
                p {
                    font-family: $font;
                    font-size: 0.625rem;
                    position: absolute;
                    top: 3px;
                    color: #AEAEAE;
                }
    
                input {
                    border: none;
                    outline: none;
                    width: 100%;
                    background-color: inherit;
                    padding-bottom: 5px;
                }
            }
    
            .create-container {
                display: flex;
                width: 100%;
                text-align: left;
                justify-content: flex-start;
                margin-top: 20px;
                gap: 10px;
                 label {
                    font-size: 14px;
                    span{
                        color: $primary;
                    }
                 }
                @include small-screen {
                    width: 80%;
                }
    
                @include mobile {
                        gap: 10px;
                        width:100%;
                }
    
                // div {
                //     display: flex;
                //     gap: 2px;
    
                //     p {
                //         font-size: 0.875rem;
                //         font-family: $font;
                //         color: #191919;
                //         @include small-screen {
                //             font-size: 0.810rem;
                //         }
                //     }
    
                //     p:nth-child(2), p:nth-child(3) {
                //         color: $primary;
                //         cursor: pointer;
                //     }
                // }
    
                input:checked {
                    accent-color: $primary;
                }
    
            }
    
            button {
                width: 240px;
                height: 52px;
                background-color: $primary;
                border: none;
                border-radius: 8px;
                color: #191919;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                margin: 20px 0;
                cursor: pointer;
                box-shadow: 1.5px 1.5px #191919;
                @include small-screen {
                    width: 200px;
                    height: 48px;
                }
                @include mobile {
                    width: 100%;
                }
            }
    
        }
    
        .ask {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            font-weight:700;
    
            p {
                font: {
                    family: $font;
                    size: 0.875rem;
                }
            }
    
            p:first-child {
                color: #696969;
            }
    
            p:last-child {
                cursor: pointer;
                
                a {
                    color: $primary;
                    text-decoration: none;
                }
            }
        }
    }
    
}
