@mixin mobile {
  @media (max-width: 400px) {
    @content;
  }
}

.profile-container {
  background: #ffffff;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 1000;
  width: 360px;
  height: 550px;
  padding: 30px;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  transition: all 1s;
  @media (max-width: 808px) {
    top: 100px;
  }
  @include mobile {
    width: 320px;
    top: 100px;
  }

  > div {
    h3 {
      border-bottom: 1px solid rgb(213, 213, 213);
      color: #1c1c1e;
      padding-bottom: 8px;
      font-weight: 700;
      font-size: 16px;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0 20px -2px;
      cursor: pointer;

      > div {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 24px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;

        &:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 3px;
          bottom: 4px;
          background-color: white;
          transition: 0.4s;
          border-radius: 50%;
        }
      }

      input:checked + .slider {
        background-color: #0088cc;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #0088cc;
      }

      input:checked + .slider:before {
        transform: translateX(18px);
      }

      input:checked + .slid:before {
        transform: translateX(0);
      }

      input:checked + .slid {
        background-color: #ccc;
      }

      input:focus + .slid {
        box-shadow: 0 0 1px #ccc;
      }
    }
  }
}

.profile-hide {
  right: -100%;
}
