:root {
  --container: 0 6%;
}
.desktop_toolbar {
  display: none;
}
.toolbar_container {
  width: 100%;
  max-width: 1440px;
  padding: 0 var(--container);
}
.toolbar_items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbar_items > .logo_wrapper {
  position: relative;
  width: 100px;
  height: 88px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.logo_wrapper img {
  width: 40px;
  max-width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  /* transform: scale(1.2); */
}
.toolbar_actions {
  display: flex;
  align-items: center;
}
.cta_btn {
  width: 140px;
  height: 44px;
  margin-right: 20px;
  border-radius: 8px;
  border-width: 0.5px 2px 2px 0.5px;
  border-style: solid;
  border-color: #191919;
  border-radius: 8px;
  background-color: #0088cc;
  cursor: pointer;
}
.hamburger {
  width: 35px !important;
  height: 35px !important;
}
.menu_list_wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0088cc;
  padding: 0 6%;
  transform: translateY(-100%);
  transition: transform 0.3s linear;
}
.menu_list_shown {
  transform: translateY(0);
}
.menu_list_wrapper div {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 6px;
}
.close_menu {
  width: 30px !important;
  height: 30px !important;
}
.menu_list {
  text-align: center;
}
.menu_list li {
  display: block;
  margin-bottom: 30px;
}
.menu_list li a {
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 1000px) {
  .mobile_toolbar {
    display: none;
  }
  .desktop_toolbar {
    display: flex;
    align-items: center;
    padding: 0 6%;
  }
  .desktop_toolbar_content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .desktop_toolbar_content1 {
    display: flex;
    align-items: center;
  }
  .desktop_toolbar_content1 a img {
    margin-right: 20px;
  }
  .desktop_toolbar_content ul {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .desktop_toolbar_content ul li a {
    font-size: 15px;
  }
  .desktop_toolbar_content li a.active {
    color: #191919;
  }
  .cta_btn.dsk_cta_btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .desktop_toolbar {
    padding: 0 10%;
  }
  .desktop_toolbar_content1 a img {
    margin-right: 40px;
  }
  .cta_btn.dsk_cta_btn {
    display: inline-block;
  }
}
