@import url("https://fonts.googleapis.com/css?family=DM Sans");

$font: "DM Sans";
$primary: #0088cc;

@mixin tablet {
  @media (max-width: 806px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 550px) {
    @content;
  }
}

.top-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 100px;
  background: #ffffff;
  border: 1px solid #fafafa;
  font-family: $font;
  @include tablet {
    padding-top: 20px;
    position: relative;
    height: 100px;
    align-items: flex-start;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      @include mobile {
        gap: 2px;
      }

      > img:first-child {
        @include tablet {
          width: 40px;
        }
      }

      p {
        color: $primary;
        font: {
          size: 14px;
          weight: 400;
        }
      }

      h3 {
        font: {
          size: 18px;
          weight: 400;
        }
      }
    }

    .wallet {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 20px;
      gap: 16px;
      width: 181px;
      height: 60px;
      background: #fafafa;
      border-radius: 8px;
      @include mobile {
        width: 123px;
        position: relative;
        left: 15px;
        gap: 0px;
        padding: 8px 10px;
      }

      img {
        @include tablet {
          width: 30px;
        }

        &:first-child {
          margin-right: 3px;
        }

        &:last-child {
          @include mobile {
            width: 20px;
          }
        }
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #8b8b8b;
        @include tablet {
          font-size: 12px;
        }
      }

      h3 {
        width: 54px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #191919;
        @include tablet {
          font-size: 16px;
        }
      }
    }
  }

  .menu {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-top: 5px;

    h2 {
      font-family: "DM Sans";
      font-weight: 700;
      font-size: 20px;
      color: #191919;
      margin-left: 10px;
      @include tablet {
        font-size: 18px;
        position: relative;
        top: 10px;
      }
      @include mobile {
        display: none;
      }
    }

    .icon {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }
}

.page_title {
  @media (max-width: 580px) {
    display: none;
    outline: 1px solid red;
  }
}
.menu_open_icon {
  @media (max-width: 580px) {
    margin-right: 1rem;
    transform: scale(1.1);
  }
}
.vector_caret {
  @media (max-width: 580px) {
    display: none;
  }
}
