@mixin tablet {
  @media (max-width: 806px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 430px) {
    @content;
  }
}

.table-parent {
  background-color: #ffffff;
  width: 95%;
  margin: 20px auto;
  padding: 15px;

  .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
    border-radius: 2rem;
    transition: all 0.3s linear;
    @include tablet {
      margin: 10px 0;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.4s;
      border-radius: 34px;
      transition: all 0.3s linear;
      &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 3px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
        transition: all 0.3s linear;
      }
    }

    input:checked + .slider {
      background-color: #0088cc;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #0088cc;
    }

    input:checked + .slider:before {
      transform: translateX(18px);
    }

    input:checked + .slid:before {
      transform: translateX(0);
    }

    input:checked + .slid {
      background-color: #ccc;
    }

    input:focus + .slid {
      box-shadow: 0 0 1px #ccc;
    }
  }

  h3 {
    color: #191919;
    font-weight: 400;
    font-size: 18px;
  }

  p {
    max-width: 516px;
    color: #999999;
    font-weight: 400;
    font-size: 14px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    @include tablet {
      margin-top: 10px;
    }
  }

  th,
  td {
    border-bottom: 1px solid rgb(213, 213, 213);
  }

  th {
    padding: 20px 0 20px 0;
    @include tablet {
      font-size: 12px !important;
    }
  }

  td {
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #191919;
    @include tablet {
      font-size: 12px;
      padding: 10px;
    }

    &:last-child {
      @include tablet {
      }

      img {
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }

  tr:last-child td {
    border: none;
  }

  th {
    color: #8b8b8b;
    font-weight: 700;
    font-size: 16px;
  }
}
.trade_table_parent {
  @include mobile {
    display: none;
  }
}
.mobile_table {
  display: none;
  @include mobile {
    display: block;
  }
}

.modal-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);

  .acct_modal {
    text-align: center;
    background: #fff;
    width: 375px;
    border-radius: 4px;
    padding: 2rem;

    h2 {
      margin-bottom: 5px;
    }
  }
}
