@tailwind base;
@tailwind components;
@tailwind utilities;

.button-shadow {
  /* border-width: 0.5px 2px 2px 0.5px; */
  background-color: #0088cc;
  border-style: solid;
  transition: 0.4s;
  /* border-color: #191919; */
}
.button-shadow:hover {
  opacity: 0.7;
  scale: 102%;
}
.leaderboardTable {
  border-radius: 8px;
  border: 1px solid var(--gray-200, #eaecf0);
  background: var(--shade-shade-7, #fff);
  /* Shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}
